ion-item.fontWeight-bold {
  font-weight: bold;
}
ion-item.fontSize-small {
  font-size: small;
}

ion-item.textAlign-center {
  text-align: center;
}
ion-item.textAlign-end {
  text-align: end;
}

ion-col.fontWeight-bold {
  font-weight: bold;
}
